<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4636626713-gnedpdvejorlnko9nj7e97nbn3fa6c9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4636626713-gnedpdvejorlnko9nj7e97nbn3fa6c9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4636626713-oc957prf5lte5rb6rq5t156fp0aosnde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9T8rqtLFDKgeLT9202FSP9Fc0w-TYRlU</string>
	<key>GCM_SENDER_ID</key>
	<string>4636626713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.vladhomenko.modernTurkmen</string>
	<key>PROJECT_ID</key>
	<string>modern-turkmen</string>
	<key>STORAGE_BUCKET</key>
	<string>modern-turkmen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4636626713:ios:148080e7180d994f0fff88</string>
</dict>
</plist>